.select-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.select-input label.title {
  text-transform: capitalize;
  width: fit-content;
  cursor: text;
}
.select-input > div {
  position: relative;
}
.select-input > div > div {
  background-color: var(--body-color);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777;
  i {
    font-size: 80%;
  }
}
.select-input > div article {
  position: absolute;
  background: var(--body-color);
  width: 100%;
  top: 43px;
  max-height: 0px;
  overflow: hidden;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-input > div article.active {
  max-height: 200px;
  overflow: auto;
}
.select-input > div article h3 {
  text-transform: capitalize;
  padding: 8px 10px;
  cursor: pointer;
  font-size: 15px;
  width: 100%;
}
.select-input > div article h3:hover {
  background-color: var(--aside-color);
}
.select-input > div article label {
  width: 98%;
  background: var(--section-color);
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: text;
  input {
    flex: 1;
    background-color: transparent;
    border: none;
  }
}
.select-input .array-of-values {
  display: flex;
  gap: 5px;
}
