/* src/components/Layout.css */

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin 0.3s;
  margin-top: 80px;
}

.main-content.with-sidebar {
  margin-left: 250px; /* عرض السايد بار */
}

body[dir="rtl"] .main-content.with-sidebar {
  margin-left: 0; /* عرض السايد بار */
  margin-right: 250px;
}
