.form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background: var(--body-color);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.card .btn {
  padding: 8px;
}

.card .card-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--font-color);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 8px;
  text-transform: capitalize;
}
.card .inp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card .inp input {
  background-color: var(--section-color);
  border: none;
  padding: 8px;
  color: var(--font-color);
  border-radius: 4px;
}
.card label {
  color: var(--font-color);
  text-transform: capitalize;
}

.card .select-input > div article {
  top: 35px;
}
.form-actions {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.popup.add-person-popup {
  max-width: 80%;
  max-height: 95%;
  overflow: auto;
}
.popup.add-person-popup .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.popup.add-person-popup h2 {
  color: var(--font-color);
  text-transform: capitalize;
  text-align: center;
}
.popup.add-person-popup .form > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.popup.add-person-popup .form > div > div {
  display: flex;
  flex-direction: column;
  flex: 270px;
  gap: 5px;
}
.popup.add-person-popup .form > div > div.inp label {
  color: var(--font-color);
  text-transform: capitalize;
}
.popup.add-person-popup .form > div > div.inp input {
  background-color: var(--section-color);
  border: none;
  padding: 8px;
  border-radius: 4px;
}
.personal-info {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  color: var(--font-color);
}
.personal-info .title {
  text-transform: capitalize;
  font-size: 17px;
}
.personal-info .title::after {
  content: " : ";
}
.personal-info .members {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.personal-info .members div {
  display: flex;
  gap: 4px;
}
.personal-info .members a {
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bold;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.personal-info .members a:hover {
  text-decoration: underline;
}

.personal-info .members div i.update-icon {
  cursor: pointer;
  color: blue;
}
.person-view {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.person-view > div {
  background-color: var(--body-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.person-view > div.personality {
  flex: 350px 0;
}
.person-view > div.more-person-info {
  flex: 1;
}
.person-view > div.more-person-info button {
  position: absolute;
  right: 20px;
  top: 20px;
}
.full-name {
  color: var(--font-color);
  margin-bottom: 20px;
}
