* {
  font-family: "Afacad Flux", sans-serif;
  transition: 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea {
  caret-color: var(--main-color);
  outline: none;
  resize: none;
}
input::placeholder,
textarea::placeholder {
  transition: 0.4s;
}
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

body {
  --body-color: #fff;
  --main-color: #2b4a69;
  --border-color: #e6e3e3;
  --aside-color: #e7e9eb;
  --section-color: #f0f1f3;
  --font-color: #000;
  --box-shadow: 0 0 16px #eeeeee;
  background-color: var(--section-color);
  overflow-x: hidden;
}
body.dark-mode {
  --border-color: #1c1c1c;
  --body-color: #141419;
  --section-color: #181a1e;
  --aside-color: #222223;
  --font-color: #ccc;
  --box-shadow: 0 0 16px #171717;
}

body.arabic {
  direction: rtl;
}
:disabled {
  opacity: 0.9;
  pointer-events: none;
}

.table-with-form-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}



.table-with-form-container > .table-container {
  flex: 1;
}
.relative {
  position: relative;
}
.color-red {
  color: red;
}
.font-color {
  color: var(--font-color);
}
